@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");
@import "@uploadthing/react/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;
    --font-merriweather: "Merriweather", serif;
    /* Light Mode Colors */
    --background: 0 100% 99%;
    --foreground: 218 23% 21%;

    --card: 0 0% 100%;
    --card-foreground: 218 23% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 218 23% 21%;

    --primary: 351 74% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 231 96% 66%;
    --secondary-foreground: 218 23% 21%;

    --muted: 202 46% 85%;
    --muted-foreground: 214 35% 37%;

    --accent: 316 38% 23%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }

  .dark {
    /* Dark Mode Colors */
    --background: 220 13% 5%;
    --foreground: 0 0% 98%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 38 92% 50%;
    --primary-foreground: 220 13% 5%;

    --secondary: 160 84% 39%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 25% 27%;
    --muted-foreground: 215 16% 65%;

    --accent: 160 84% 50%;
    --accent-foreground: 220 13% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-white text-foreground;
  }
  html {
    overflow-x: hidden;
    max-width: 100vw;
  }
  body {
    font-family: var(--font-be-vietnam-pro), -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rank-number {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    color: transparent;
    font-family: var(--font-merriweather);
    font-weight: 900;
    line-height: 1;
    position: absolute;
    bottom: -15px;
    left: 10px;
    z-index: 10;
    pointer-events: none;
  }
}
